
<div>
    <h2><span data-translate="proyectoApp.photo.detail.title">Photo</span> {{vm.photo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row jh-entity-details">
        <dt><span data-translate="proyectoApp.photo.name">Name</span></dt>
        <dd>
            <span>{{vm.photo.name}}</span>
        </dd>
        <dt><span data-translate="proyectoApp.photo.image">Image</span></dt>
        <dd>
            <div ng-if="vm.photo.image">
                <a ng-click="vm.openFile(vm.photo.imageContentType, vm.photo.image)">
                    <img data-ng-src="{{'data:' + vm.photo.imageContentType + ';base64,' + vm.photo.image}}" style="max-width: 100%;" alt="photo image"/>
                </a>
                {{vm.photo.imageContentType}}, {{vm.byteSize(vm.photo.image)}}
            </div>
        </dd>
        <dt><span data-translate="proyectoApp.photo.url">Url</span></dt>
        <dd>
            <span>{{vm.photo.url}}</span>
        </dd>
        <dt><span data-translate="proyectoApp.photo.time">Time</span></dt>
        <dd>
            <span>{{vm.photo.time | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="proyectoApp.photo.tags">Tags</span></dt>
        <dd>
            <span>{{vm.photo.tags}}</span>
        </dd>
        <dt><span data-translate="proyectoApp.photo.points">Points</span></dt>
        <dd>
            <span>{{vm.photo.points}}</span>
        </dd>
        <dt><span data-translate="proyectoApp.photo.user">User</span></dt>
        <dd>
            {{vm.photo.user.login}}
        </dd>
        <dt><span data-translate="proyectoApp.photo.album">Album</span></dt>
        <dd>
            <a ui-sref="album-detail({id:vm.photo.album.id})">{{vm.photo.album.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="photo-detail.edit({id:vm.photo.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
