<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPhotoLabel">Añadir nueva imagen</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.photo.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   ng-model="vm.photo.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                   ng-model="vm.photo.name"/>
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setImage($file, vm.photo)" ngf-pattern="'image/*'">
            <label class="control-label" for="field_image">Image</label>
            <div>
                <img data-ng-src="{{'data:' + vm.photo.imageContentType + ';base64,' + vm.photo.image}}" style="max-height: 100px;" ng-if="vm.photo.image" alt="photo image"/>
                <div ng-if="vm.photo.image" class="help-block clearfix">
                    <span class="pull-left">{{vm.photo.imageContentType}}, {{vm.byteSize(vm.photo.image)}}</span>
                    <button type="button" ng-click="vm.photo.image=null;vm.photo.imageContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setImage($file, vm.photo)" accept="image/*" data-translate="entity.action.addimage">
                    upload
                </button>
            </div>
            <input type="hidden" class="form-control" name="image" id="field_image"
                   ng-model="vm.photo.image"
            />
            <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                   ng-model="vm.photo.imageContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_tags">Tags</label>
            <input type="text" class="form-control" name="tags" id="field_tags"
                   ng-model="vm.photo.tags"/>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
