<div>
    <h2 data-translate="proyectoApp.offer.home.title">Offers</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="offer.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="proyectoApp.offer.home.createLabel">
                        Create new Offer
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="proyectoApp.offer.name">Name</span></th>
                    <th><span data-translate="proyectoApp.offer.description">Description</span></th>
                    <th><span data-translate="proyectoApp.offer.time">Time</span></th>
                    <th><span data-translate="proyectoApp.offer.salary">Salary</span></th>
                    <th><span data-translate="proyectoApp.offer.timeJob">Time Job</span></th>
                    <th><span data-translate="proyectoApp.offer.closed">Closed</span></th>
                    <th><span data-translate="proyectoApp.offer.tags">Tags</span></th>
                    <th><span data-translate="proyectoApp.offer.location">Location</span></th>
                    <th><span data-translate="proyectoApp.offer.user">User</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="offer in vm.offers track by offer.id">
                    <td><a ui-sref="offer-detail({id:offer.id})">{{offer.id}}</a></td>
                    <td>{{offer.name}}</td>
                    <td>{{offer.description}}</td>
                    <td>{{offer.time | date:'medium'}}</td>
                    <td>{{offer.salary}}</td>
                    <td>{{offer.timeJob}}</td>
                    <td>{{offer.closed}}</td>
                    <td>{{offer.tags}}</td>
                    <td>{{offer.location}}</td>
                    <td>
                        <span ng-repeat="user in offer.users">
                            {{user.login}}{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="offer-detail({id:offer.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="offer.edit({id:offer.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="offer.delete({id:offer.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
