
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMessageLabel" data-translate="proyectoApp.message.home.createOrEditLabel">Create or edit a Message</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.message.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.message.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="proyectoApp.message.text" for="field_text">Text</label>
            <input type="text" class="form-control" name="text" id="field_text"
                    ng-model="vm.message.text"
                    />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setAttached($file, vm.message)">
            <label class="control-label" data-translate="proyectoApp.message.attached" for="field_attached">Attached</label>
            <div>
                <div ng-if="vm.message.attached" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.message.attachedContentType, vm.message.attached)" data-translate="entity.action.open">open</a><br>
                    <span class="pull-left">{{vm.message.attachedContentType}}, {{vm.byteSize(vm.message.attached)}}</span>
                    <button type="button" ng-click="vm.message.attached=null;vm.message.attachedContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setAttached($file, vm.message)" data-translate="entity.action.addblob">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="attached" id="field_attached"
                    ng-model="vm.message.attached"
                    />
            <input type="hidden" class="form-control" name="attachedContentType" id="field_attachedContentType"
                    ng-model="vm.message.attachedContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="proyectoApp.message.time" for="field_time">Time</label>
                <div class="input-group">
                    <input id="field_time" type="text" class="form-control" name="time" datetime-picker="{{dateformat}}" ng-model="vm.message.time" is-open="vm.datePickerOpenStatus.time"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('time')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="proyectoApp.message.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.message.user" ng-options="user as user.login for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="proyectoApp.message.conversation" for="field_conversation">Conversation</label>
            <select class="form-control" id="field_conversation" name="conversation" ng-model="vm.message.conversation" ng-options="conversation as conversation.name for conversation in vm.conversations track by conversation.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
