



<div class="row mainrow">
    <div class="row usu">
        <div class="col-lg-12 img-usuario">
            <div>
                <img src="../../../content/images/17125453_353353921724745_8088302319000616960_n.jpg"/></div>
        </div>
    </div>
    <div class="row separador"></div>

    <!--<div class="page-header"></div>-->
    <!-- #region Jssor Slider Begin -->
    <div class="container-fluid">
        <div class="row">
            <div class="main">
                <div id="cbp-contentslider" class="cbp-contentslider">
                    <ul>
                        <li id="slide1">
                            <h3 class="icon-wolf">Siguiendo</h3>
                            <div>
                                <div class="cbp-content">
                                    <button ng-if="!vm.currentAccount.id==vm.userExt.id" type="button" class="btn btn-primary" value="Seguir">Seguir</button>
                                    <div ng-repeat="data in vm.Following track by $index">
                                        <label>Nombre: </label>{{data.followed.firstName}}
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li id="slide2">
                            <h3 class="icon-rabbit">Mis albumes</h3>

                            <div class="row albumes-profile">
                                <div class="col-lg-4" ng-repeat="photo in vm.photosUser track by $index">
                                    {{photo.name}}
                                    <img data-ng-src="{{'data:' + photo.imageContentType + ';base64,' + photo.image }}"
                                         style="width: 300px; height:300px;" alt="photo image"/>
                                </div>
                            </div>
                        </li>

                        <li id="slide3">
                            <h3 class="icon-aligator">Mis datos</h3>
                            <div>
                                <div class="cbp-content">
                                    <div class="row">
                                        <div class="col-lg-4 profile">
                                            <label>login</label>
                                            {{vm.userExt.user.login}}
                                        </div>
                                        <div class="col-lg-4 profile">
                                            <label>Nombre</label>
                                            {{vm.userExt.user.firstName}}
                                        </div>
                                        <div class="col-lg-4 profile">
                                            <label>Apellido</label>
                                            {{vm.userExt.user.lastName}}
                                        </div>
                                        </div>
                                    <div class="row">
                                        <div class="col-lg-4 profile">
                                            <label>Edad</label>
                                            {{vm.userExt.age}}
                                        </div>
                                        <div class="col-lg-4 profile">
                                            <label>Localidad</label>
                                            {{vm.userExt.city}}
                                        </div>
                                        <div class="col-lg-4 profile">
                                            <label>Dirección</label>
                                            {{vm.userExt.address}}
                                        </div>
                                    </div>
                                    <!--<button type="submit"-->
                                            <!--ui-sref="{{ vm.previousState }}"-->
                                            <!--class="btn btn-info">-->
                                        <!--<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>-->
                                    <!--</button>-->
                                    <button ng-if="vm.currentAccount.id==vm.userExt.id" type="button" ui-sref="user-ext-detail.edit({id:vm.userExt.id})" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                        <span class="hidden-sm-down" data-translate="entity.action.edit"> Editar perfil</span>
                                    </button>
                                </div>
                            </div>
                        </li>

                    </ul>
                    <nav>
                        <a href="#slide1" class="icon-wolf"><span>Siguiendo</span></a>
                        <a href="#slide2" class="icon-rabbit"><span>Mis Albumes</span></a>
                        <a href="#slide3" class="icon-aligator"><span>Mis datos</span></a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script>
        // $(function () {
        /*
         - how to call the plugin:
         $( selector ).cbpContentSlider( [options] );
         - options:
         {
         // default transition speed (ms)
         speed : 500,
         // default transition easing
         easing : 'ease-in-out',
         // current item's index
         current : 0
         }
         - destroy:
         $( selector ).cbpContentSlider( 'destroy' );
         */

        //$('#cbp-contentslider').cbpContentSlider();
        // });
    </script>
</div>


<style>

</style>

<!--<div>-->
    <!--<h2><span data-translate="proyectoApp.userExt.detail.title">User Ext</span> {{vm.userExt.id}}</h2>-->
    <!--<hr>-->
    <!--<jhi-alert-error></jhi-alert-error>-->
    <!--<dl class="row jh-entity-details">-->
        <!--<dt><span data-translate="proyectoApp.userExt.birthdate">Birthdate</span></dt>-->
        <!--<dd>-->
            <!--<span>{{vm.userExt.birthdate | date:'mediumDate'}}</span>-->
        <!--</dd>-->
        <!--<dt><span data-translate="proyectoApp.userExt.phone">Phone</span></dt>-->
        <!--<dd>-->
            <!--<span>{{vm.userExt.phone}}</span>-->
        <!--</dd>-->
        <!--<dt><span data-translate="proyectoApp.userExt.kind">Kind</span></dt>-->
        <!--<dd>-->
            <!--<span>{{vm.userExt.kind}}</span>-->
        <!--</dd>-->
        <!--<dt><span data-translate="proyectoApp.userExt.tags">Tags</span></dt>-->
        <!--<dd>-->
            <!--<span>{{vm.userExt.tags}}</span>-->
        <!--</dd>-->
        <!--<dt><span data-translate="proyectoApp.userExt.address">Address</span></dt>-->
        <!--<dd>-->
            <!--<span>{{vm.userExt.address}}</span>-->
        <!--</dd>-->
        <!--<dt><span data-translate="proyectoApp.userExt.country">Country</span></dt>-->
        <!--<dd>-->
            <!--<span>{{vm.userExt.country}}</span>-->
        <!--</dd>-->
        <!--<dt><span data-translate="proyectoApp.userExt.city">City</span></dt>-->
        <!--<dd>-->
            <!--<span>{{vm.userExt.city}}</span>-->
        <!--</dd>-->
        <!--<dt><span data-translate="proyectoApp.userExt.popular">Popular</span></dt>-->
        <!--<dd>-->
            <!--<span>{{vm.userExt.popular}}</span>-->
        <!--</dd>-->
        <!--<dt><span data-translate="proyectoApp.userExt.companyPoints">Company Points</span></dt>-->
        <!--<dd>-->
            <!--<span>{{vm.userExt.companyPoints}}</span>-->
        <!--</dd>-->
        <!--<dt><span data-translate="proyectoApp.userExt.validated">Validated</span></dt>-->
        <!--<dd>-->
            <!--<span>{{vm.userExt.validated}}</span>-->
        <!--</dd>-->
        <!--<dt><span data-translate="proyectoApp.userExt.age">Age</span></dt>-->
        <!--<dd>-->
            <!--<span>{{vm.userExt.age}}</span>-->
        <!--</dd>-->
        <!--<dt><span data-translate="proyectoApp.userExt.user">User</span></dt>-->
        <!--<dd>-->
            <!--{{vm.userExt.user.login}}-->
        <!--</dd>-->
        <!--<dd>-->
            <!--{{vm.userExt.user.photo}}-->
        <!--</dd>-->
    <!--</dl>-->
    <!--{{vm.userExt}}-->


    <!--<button type="submit"-->
            <!--ui-sref="{{ vm.previousState }}"-->
            <!--class="btn btn-info">-->
        <!--<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>-->
    <!--</button>-->

    <!--<button type="button" ui-sref="user-ext-detail.edit({id:vm.userExt.id})" class="btn btn-primary">-->
        <!--<span class="glyphicon glyphicon-pencil"></span>-->
        <!--<span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>-->
    <!--</button>-->
<!--</div>-->
















