
<div   infinite-scroll='vm.loadPage(vm.page + 1)' infinite-scroll-disabled="vm.page >= vm.links['last']">

<div class="row">
    <div class="col-lg-4">

    </div>
    <div class="col-lg-4 logoScroll" class="col-lg-4">
        <img src="content/images/logo-jhipster.png">RETRO JOB<img>
    </div>
    <div class="col-lg-4">

    </div>

</div>




    <div class="container imagenesInicio " id="contentImage" ng-repeat="data in vm.scrolls track by $index"
         style="width: 300px;height: 300px;  ">
        <div ng-switch ="data.offer">

            <div ng-mouseenter="vm.enterImg($event)" ng-mouseleave="vm.leaveImg($event)" ng-switch-when=null>
                <!--<div class="empty-space" style="height: 15%;"></div>-->
                <!--<span style="display:block;">Ricard Huelamo</span>-->
                <!--<div class="empty-space" style="height:5%;"></div>-->
                <!--<span style="display:block; font-size: 120px;">4</span>-->
                <!--<div class="empty-space" style="height:10%;"></div>-->
                <!--<span style="display:block;">Barcelona, España</span>-->

                <div id="info" style="position: absolute;width:300px;height:300px;text-align: center;font-size: 150px;padding-top:30px;display: none;">

                    <!--<div>{{data.userExt.user.login}}</div>-->
                    {{data.photo.points}}
                    <!--<div>{{data.userExt.city}}</div>-->






                </div>
                <img   ng-click="vm.openModal(data)"
                      data-ng-src="{{'data:' + data.photo.imageContentType + ';base64,' + data.photo.image }}"
                      style="width: 300px; height:300px;" alt="photo image"/>


 </div>
            <div ng-switch-default>
                 <!--{{data.offer.name}}-->
                <!--{{data.offer.description}}-->
                <img style="width: 300px; height:300px;" src="/content/images/oferta.gif">

        </div>


    </div>




</div>

