<nav class="navbar navbar-inverse navbar-fixed-side" id="style-1" ng-mouseleave="vm.hide()" ng-mouseenter="vm.show()">
    <div class="navbar-header">
        <a class="navbar-brand layout-align-center" ui-sref="inicio-usuario">
            RETROJOB
        </a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav " ng-switch="vm.isAuthenticated()">
            <!--<li ui-sref-active="active">-->
                <!--<a ui-sref="inicio-usuario" ng-click="vm.collapseNavbar()">-->

                    <!--<span class="hidden-sm">Inicio</span>-->
                <!--</a>-->
            <!--</li>-->

            <li ui-sref-active="active">
                <a  ng-click="vm.collapseNavbar()" ui-sref="user-ext-detail({id:vm.idUsu})">
                    <span class="hidden-sm"  >Perfil</span>
                </a>
            </li>

            <li ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" has-authority="ROLE_ADMIN" uib-dropdown class="dropdown pointer">
                <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-sm" data-translate="global.menu.entities.main">
                                Entities
                            </span>
                            <b class="caret"></b>
                        </span>
                </a>
                <ul class="dropdown-menu" uib-dropdown-menu>
                    <li ui-sref-active="active">
                        <a ui-sref="user-profile-valoration" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span data-translate="global.menu.entities.userProfileValoration">User Profile Valoration</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="report" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span data-translate="global.menu.entities.report">Report</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="video" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span data-translate="global.menu.entities.video">Video</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="user-ext" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span data-translate="global.menu.entities.userExt">User Ext</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="following" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span data-translate="global.menu.entities.following">Following</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="offer" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span data-translate="global.menu.entities.offer">Offer</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="photo" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span data-translate="global.menu.entities.photo">Photo</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="photo-valoration" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span data-translate="global.menu.entities.photoValoration">Photo Valoration</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="connection" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span data-translate="global.menu.entities.connection">Connection</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="conversation" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span data-translate="global.menu.entities.conversation">Conversation</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="message" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span data-translate="global.menu.entities.message">Message</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="album" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span data-translate="global.menu.entities.album">Album</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="bloqued" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                            <span data-translate="global.menu.entities.bloqued">Bloqued</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                </ul>
            </li>
            <li ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer">
                <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                        <span>
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-sm" data-translate="global.menu.account.main">
                                Account
                            </span>
                            <b class="caret"></b>
                        </span>
                </a>
                <ul class="dropdown-menu" uib-dropdown-menu>
                    <li ui-sref-active="active" ng-switch-when="true">
                        <a ui-sref="settings" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                            <span data-translate="global.menu.account.settings">Settings</span>
                        </a>
                    </li>
                    <li ui-sref-active="active" ng-switch-when="true">
                        <a ui-sref="password" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-lock"></span>&nbsp;
                            <span data-translate="global.menu.account.password">Password</span>
                        </a>
                    </li>
                    <li ui-sref-active="active" ng-switch-when="true">
                        <a ui-sref="sessions" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-cloud"></span>&nbsp;
                            <span data-translate="global.menu.account.sessions">Sessions</span>
                        </a>
                    </li>
                    <li ui-sref-active="active" ng-switch-when="true">
                        <a href="" ng-click="vm.logout()" id="logout">
                            <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                            <span data-translate="global.menu.account.logout">Sign out</span>
                        </a>
                    </li>
                    <li ui-sref-active="active" ng-switch-when="false">
                        <a href="" ng-click="vm.login()" id="login">
                            <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                            <span data-translate="global.menu.account.login">Sign in</span>
                        </a>
                    </li>
                    <!-- ACCESO PAGINA LOGIN AÑADIDA -->
                    <li ui-sref-active="active" ng-switch-when="false">
                        <a ui-sref="login" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                            <span data-translate="">Login Preproduccion</span>
                        </a>
                    </li>


                    <!------------------------------------>
                    <li ui-sref-active="active" ng-switch-when="false">
                        <a ui-sref="register" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
                            <span data-translate="global.menu.account.register">Register</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li ng-class="{active: vm.$state.includes('admin')}"  ng-switch-when="true" has-authority="ROLE_ADMIN" uib-dropdown class="dropdown pointer">
                <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm" data-translate="global.menu.admin.main">Administration</span>
                            <b class="caret"></b>
                        </span>
                </a>
                <ul class="dropdown-menu" uib-dropdown-menu>

                    <li ui-sref-active="active">
                        <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-user"></span>&nbsp;
                            <span data-translate="global.menu.admin.userManagement">User management</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-dashboard"></span>&nbsp;
                            <span data-translate="global.menu.admin.metrics">Metrics</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="jhi-health" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-heart"></span>&nbsp;
                            <span data-translate="global.menu.admin.health">Health</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                            <span data-translate="global.menu.admin.configuration">Configuration</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="audits" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-bell"></span>&nbsp;
                            <span data-translate="global.menu.admin.audits">Audits</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="logs" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                            <span data-translate="global.menu.admin.logs">Logs</span>
                        </a>
                    </li>
                    <li ng-show="vm.swaggerEnabled" ui-sref-active="active">
                        <a ui-sref="docs" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-book"></span>&nbsp;
                            <span data-translate="global.menu.admin.apidocs">API</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                </ul>
            </li>
            <li ui-sref-active="active" uib-dropdown class="dropdown pointer" ng-controller="JhiLanguageController as languageVm">
                <a class="dropdown-toggle" uib-dropdown-toggle href="" ng-if="languageVm.languages.length > 1">
                        <span>
                            <span class="glyphicon glyphicon-flag"></span>
                            <span class="hidden-sm" data-translate="global.menu.language">Language</span>
                            <b class="caret"></b>
                        </span>
                </a>
                <ul class="dropdown-menu" uib-dropdown-menu ng-if="languageVm.languages.length > 1">
                    <li active-menu="{{language}}" ng-repeat="language in languageVm.languages">
                        <a href="" ng-click="languageVm.changeLanguage(language);vm.collapseNavbar();">{{language | findLanguageFromKey}}</a>
                    </li>
                </ul>
            </li>
            <li class="btn btn-default" ng-click="vm.modal()">
                Subir
            </li>
            <br>
            <li class="btn btn-default" ng-click="vm.modalOffert()" ng-switch="vm.userExt.kind" >
                <div ng-switch-when="1">
                    Crear oferta de trabajo
                </div>

            </li>
            <li ng-switch-when="0">HOLA</li>
        </ul>
    </div>
</nav>
