<!--<md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop="" md-whiteframe="4">

    <md-toolbar class="vmd-theme-indigo">
        <h1 class="md-toolbar-tools">Disabled Backdrop</h1>
    </md-toolbar>

    <md-content layout-margin="">
        <p>
            This sidenav is not showing any backdrop, where users can click on it, to close the sidenav.
        </p>
        <md-button ng-click="vm.toggleLeft()" class="md-accent">
            Close this Sidenav
        </md-button>
    </md-content>
    <md-content class="md-sidenav-right">
        hola
    </md-content>
</md-sidenav> -->
<nav class="navbar navbar-inverse navbar-fixed-side">
    <div class="navbar-header">
        <a class="navbar-brand">
            navbar molona
        </a>
    </div>
    <div class="collapse navbar-collapse">

    </div>
</nav>
