/*MODAL*/
.modal-dialog {
    width: auto;
    position: absolute;

}

.modal-content {

    top: 16%;
    /*left:33%;*/
    width: auto !important;
    height: auto !important;
    max-width: 0;
}

.modal {
    padding-top: 0;
    /*width: auto;*/
    /*height:auto;*/
}

/*FIN MODAL*/

/*USER PROFILE*/

.general-profile {

}

.usu {
    margin: 0 auto;
    text-align: center;

}

.img-usuario {
    margin: 0 auto;

}

.separador {
    height: 100px;
    margin: 0px;
}

.separador2 {
    height: 50px;
    margin: 0px;
}

.img-usuario img {
    max-width: 400px;
    max-height: 400px;
    margin: 0 auto;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #000000;
}

.botones {
    margin: 0 auto;
    text-align: center;
}

.albumes-profile {

}

.mis-albumes {
    text-align: center;
    border-bottom: 1px solid cadetblue;
}

.album {
    height: 200px;
    background-color: #5bc0de;
    margin: 30px;
}

.apartados {
    text-align: center;
}

.page-header {
    margin: 0 !important;
    border-color: cadetblue !important;
}

/*SLIDER MENU*/

/*@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.svg#icomoon') format('svg'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}*/

/* Needed for a fluid height: */
html, body, .container {
    height: 100%;
}

/* main wrapper */
.cbp-contentslider {
    width: 100%;
    height: 550px;
    margin: 1em auto;
    position: absolute;
    /*	border: 4px solid #47a3da*/
}

.cbp-contentslider > ul {
    list-style: none;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 0;
    margin: 0;
}

.cbp-contentslider > ul li {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 1em;
    background: #fff;
}

/* Whithout JS, we use :target */
.cbp-contentslider > ul li:target {
    z-index: 100;
}

.profile nav {

}

.profile p {
    float: left;
    width: 40%;
}

.mainrow {
    margin: 0 auto;
}

.cbp-contentslider nav {
    position: absolute;
    bottom: 550px;
    left: 0;
    right: 0;
    height: 3.313em;
    background-color: white;
    z-index: 1000;
    border-top: none;
    overflow: hidden;
}

.cbp-contentslider nav a {
    float: left;
    display: block;
    width: 33%;
    height: 100%;
    font-weight: 400;
    letter-spacing: 0.1em;
    overflow: hidden;
    color: #47a3da;
    background: #fff;
    outline: none;
    text-align: center;
    line-height: 3;
    position: relative;
    padding-left: 3.125em;
    text-transform: uppercase;
    text-decoration: none;
    /*	border-right: 4px solid #47a3da;*/
    -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.cbp-contentslider nav a span {
    display: block;
}

.cbp-contentslider nav a:last-child {
    border: none;
    /*box-shadow: 1px 0 #47a3da; !* fills gap caused by rounding *!*/
}

.cbp-contentslider nav a:hover {
    background-color: #47a3da;
    color: #fff;
}

.cbp-contentslider nav a.rc-active {
    background-color: #47a3da;
    color: #fff;
}

/* Iconfont for navigation and headings */

/*.cbp-contentslider .icon-rabbit:before {
	content: "\52";
}

.cbp-contentslider .icon-turtle:before {
	content: "\54";
}

.cbp-contentslider .icon-platypus:before {
	content: "\42";
}

.cbp-contentslider .icon-aligator:before {
	content: "\41";
}*/

/*.cbp-contentslider [class^="icon-"].rc-active:before,
.cbp-contentslider [class*=" icon-"].rc-active:before,
.cbp-contentslider nav a:hover:before {
	color: rgba(255,255,255,0.9);
}*/

.cbp-contentslider h3 {
    font-size: 2em;
    height: 2em;
    line-height: 1.7;
    font-weight: 300;
    margin: 0 0 0.3em;
    position: relative;
    color: #47a3da;
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 0.3em;
    padding: 0 0.2em 0 0;
    border-bottom: 4px solid #47a3da;
}

.cbp-contentslider h3[class^="icon-"]:before,
.cbp-contentslider h3[class*=" icon-"]:before {
    top: 0;
    left: 0;
    width: 2em;
    line-height: 1;
    height: 1.2em;
    margin: 0;
    color: #47a3da;
}

.cbp-contentslider li > div {
    top: 9em;
    bottom: 3.313em;
    width: 100%;
    left: 0;
    padding: 0 1em;
    overflow-x: hidden;
    overflow-y: auto;
}

.cbp-contentslider .cbp-content {
    /*.cbp-contentslider p*/
}

.cbp-contentslider p {
    /*color: #47a3da;*/
    padding: 0 0.5em 0.4em;
    margin: 0;
    font-size: 1.2em;
    font-weight: 300;
    text-align: justify;
    line-height: 1.6;
}

/* Media queries */

@media screen and (max-width: 70em) {
    .cbp-contentslider p {
        font-size: 100%;
    }
}

@media screen and (max-width: 67.75em) {

    .cbp-contentslider {
        font-size: 85%;
    }

    .cbp-contentslider nav a[class^="icon-"]:before,
    .cbp-contentslider nav a[class*=" icon-"]:before {
        left: 50%;
        margin-left: -1.250em;
    }

    .cbp-contentslider nav a span {
        display: none;
    }
}

@media screen and (max-width: 43em) {

    .cbp-contentslider h3 {
        font-size: 2em;
    }

    .cbp-contentslider .cbp-content {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        -o-column-count: 1;
        column-count: 1;
    }

    .cbp-contentslider li > div {
        top: 5em;
    }

}

@media screen and (max-width: 25em) {
    .cbp-contentslider nav a {
        padding: 0;
    }

    .cbp-contentslider h3[class^="icon-"]:before,
    .cbp-contentslider h3[class*=" icon-"]:before {
        display: none;
    }
}

/* ==========================================================================
Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak
========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* ==========================================================================
Development Ribbon
========================================================================== */

/*MODAL*/

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

/*FIN MODAL*/
#openImage {
    display: none;
    width: 300px;
    height: 300px;
    z-index: -1;
    position: relative;
}

.imagenesInicio {
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 30px;
}

.ribbon {
    background-color: #a00;
    box-shadow: 0 0 10px #888;
    left: -3.5em;
    moz-box-shadow: 0 0 10px #888;
    moz-transform: rotate(-45deg);
    ms-transform: rotate(-45deg);
    o-transform: rotate(-45deg);
    overflow: hidden;
    position: absolute;
    top: 40px;
    transform: rotate(-45deg);
    webkit-box-shadow: 0 0 10px #888;
    webkit-transform: rotate(-45deg);
    white-space: nowrap;
    width: 15em;
    z-index: 9999;
    pointer-events: none;
}

.ribbon a {
    border: 1px solid #faa;
    color: #fff;
    display: block;
    font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 1px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px #444;
    pointer-events: none;
}

/* ==========================================================================
Version number in navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: #ccc
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand.logo {
    padding: 5px 15px;
}

.logo .logo-img {
    height: 45px;
    display: inline-block;
}

/* ==========================================================================
Main page styles
========================================================================== */
.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../images/hipster.png") no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (   min--moz-device-pixel-ratio: 2), only screen and (     -o-min-device-pixel-ratio: 2/1), only screen and (        min-device-pixel-ratio: 2), only screen and (                min-resolution: 192dpi), only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

/* ==========================================================================
Generic styles
========================================================================== */
.error {
    color: white;
    background-color: red;
}

.pad {
    padding: 10px;
}

.break {
    white-space: normal;
    word-break: break-all;
}

.voffset {
    margin-top: 2px;
}

.voffset1 {
    margin-top: 5px;
}

.voffset2 {
    margin-top: 10px;
}

.voffset3 {
    margin-top: 15px;
}

.voffset4 {
    margin-top: 30px;
}

.voffset5 {
    margin-top: 40px;
}

.voffset6 {
    margin-top: 60px;
}

.voffset7 {
    margin-top: 80px;
}

.voffset8 {
    margin-top: 100px;
}

.voffset9 {
    margin-top: 150px;
}

.readonly {
    background-color: #eee;
    opacity: 1;
}

/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */
a:hover {
    cursor: pointer;
}

.hand {
    cursor: pointer;
}

/* ==========================================================================
Metrics and Health styles
========================================================================== */
#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.health-details {
    min-width: 400px;
}

/* ==========================================================================
start Password strength bar style
========================================================================== */
ul#strengthBar {
    display: inline;
    list-style: none;
    margin: 0;
    margin-left: 15px;
    padding: 0;
    vertical-align: 2px;
}

.point:last {
    margin: 0 !important;
}

.point {
    background: #DDD;
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    margin-right: 1px;
    width: 20px;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts .alert {
    text-overflow: ellipsis;
}

.alert pre {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

.alert .popover pre {
    font-size: 10px;
}

.alerts .toast {
    position: fixed;
    width: 100%;
}

.alerts .toast.left {
    left: 5px;
}

.alerts .toast.right {
    right: 5px;
}

.alerts .toast.top {
    top: 55px;
}

.alerts .toast.bottom {
    bottom: 55px;
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* ==========================================================================
entity tables helpers
========================================================================== */
/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
.no-padding-left {
    padding-left: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.no-padding-top {
    padding-top: 0 !important;
}

.no-padding-bottom {
    padding-bottom: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min {
    width: 1% !important;
}

/* Makes toolbar not wrap on smaller screens
 http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.jh-table > tbody > tr > td {
    /* Align text in td vertically (top aligned by Bootstrap) */
    vertical-align: middle;
}

.jh-table > thead > tr > th > .glyphicon-sort, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes-alt {
    /* less visible sorting icons */
    opacity: 0.5;
}

.jh-table > thead > tr > th > .glyphicon-sort:hover, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes:hover, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes-alt:hover {
    /* full visible sorting icons and pointer when mouse is over them */
    opacity: 1;
    cursor: pointer;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > dd {
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .row.jh-entity-details > dt {
        margin-bottom: 15px;
    }

    .row.jh-entity-details > dd {
        border-bottom: 1px solid #eee;
        padding-left: 180px;
        margin-left: 0;
    }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default,
.uib-datepicker-popup > li > div.uib-datepicker > table .btn-default {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup > li > div.uib-datepicker > table:focus {
    outline: none;
}

/* jhipster-needle-css-add-main JHipster will add new css style */

/* ================================================================================================================================================================================
==============================================================================================================================================================================
===================================================================================================================================================================================
===================================================================================================================================================================================
===================================================================================================================================================================================
*/

/*==================ESTE ES NUESTRO CSS(CUSTOM)======================================================================================================*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
.btn {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 4px 10px 4px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #e6e6e6;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    *margin-left: .3em;
}

.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    background-color: #e6e6e6;
}

.btn-large {
    padding: 9px 14px;
    font-size: 15px;
    line-height: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.btn:hover {
    color: #333333;
    text-decoration: none;
    background-color: #e6e6e6;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.btn-primary, .btn-primary:hover {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff;
}

.btn-primary.active {
    color: rgba(255, 255, 255, 0.75);
}

.btn-primary {
    background-color: #4a77d4;
    background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4);
    background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4));
    background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4);
    background-image: -o-linear-gradient(top, #6eb6de, #4a77d4);
    background-image: linear-gradient(top, #6eb6de, #4a77d4);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);
    border: 1px solid #3762bc;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    filter: none;
    background-color: #4a77d4;
}

.btn-block {
    width: 20%;
    position: absolute;
    left: 40%;
    margin-top: 8%;
    display: block;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

/*body {*/
/*width: 100%;*/
/*height:100%;*/
/*font-family: 'Open Sans', sans-serif;*/
/*background: #092756;*/
/*background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);*/
/*background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);*/
/*background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);*/
/*background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);*/
/*background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);*/
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );*/
/*}*/
.login {
    top: 30%;
    left: 22%;

    width: 1402px;
    height: auto;
}

.login h1 {
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Helvetica Neue';
    font-style: italic;
}

input {
    width: 100%;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
}

input:focus {
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
}

/* ==========================================================================
    REGISTRO USU
========================================================================== */

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .contenedor4 img {
        width: 500px;
    }
}

@media (min-width: 1900px) {
    #section0,
    #section1,
    #section2,
    #section3,
    #section4 {
        background-size: cover;
        -webkit-background-size: 160% !important;
        background-size: 160% !important;
        background-position: center;
    }

    .contenedor h2 {
        font-size: 4.5em;
        margin: 0;
        padding: 0;
        color: #322b80;
    }
}

/* will be red only in google chrome */

/* Style for our header texts
* --------------------------------------- */
/* Centered texts in each section
* --------------------------------------- */
.section {
    text-align: center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 950px !important;
}

/* Backgrounds will cover all the section
* --------------------------------------- */
#section0,
#section1,
#section2,
#section3 {
    background-size: cover;
}

/* Defining each section background and styles
* --------------------------------------- */
/*#section1, #section2, #section3, #section4 {*/
/*height: 100% !important;*/
/*}*/
.tituloregis {
    height: 150px;
}

#section2 {
    background-color: coral;
    padding: 0% 0 0 0;
}

#section3 h1 {
    color: #000;
}

/*Adding background for the slides
* --------------------------------------- */
#slide1, #slide2, #slide3, #slide4, #slide5, #slide6 {
    text-align: center;
    padding-top: 0px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    height: 100%;
    background-color: #fff;
}

.slide {
    text-align: center;
    padding-top: 0px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    height: 100%;
    background-color: #fff;
}

.container-fluid {
    padding: 0px !important;
}

/* Bottom menu
* --------------------------------------- */
#infoMenu li a {
    color: #fff;
}

@media (max-width: 800px) {
    .homemanifesto p {
        display: none;
    }

    .mas {
        display: inline;
        display: inline-table;
        font-size: 20px;
        width: 100%;
        height: auto;
        margin: 0px;
        margin-bottom: 5px;
        color: #fff;
        text-align: center;
    }

    .homemanifesto h1 {
        display: none;
    }

    .homemanifesto h2 {
        display: inline;
        font-size: 30px;
        text-align: center;
        margin-bottom: 20px;
        line-height: 35px;
        font-weight: normal;
        font-family: 'TradeGothicBoldCondTwenty';
        letter-spacing: 1px;
    }

    #section3 .contenedor p {
        color: #fff;
        font-size: 20px;
        width: 90%;
        margin: 0 auto;
        font-family: 'Merriweather', serif !important;
    }

    #section3 .contenedor h4 {
        font-size: 17px;
        margin-top: 50px;
    }

    #section3 .contenedor h3 {
        font-size: 3em;
        margin-bottom: -25px;
    }

    .contenedor .textooculto {
        display: inline;
        width: 80% !important;
        margin: 0 auto;
        line-height: 15px;
        font-size: 16px !important;
        margin-left: 50px;
        margin-right: 50px;
    }

    .textoprueba {
        display: none;
    }
}

@media (max-width: 480px) {
    .logo {
        position: fixed;
        top: 15px;
        left: 15px;
        width: 60px;
        height: auto;
        z-index: 9999999;
    }

    .slide h3 {
        font-size: 18px;
    }

    .slogan img {
        margin-top: 10px;
    }

    .contenedor .slogan {
        margin-top: 30px;
    }

    .contenedor .slogan img {
        padding-top: 20px;
    }

    .manifestobutton {
        color: #fff;
        margin: 0 auto;
        text-transform: uppercase;
        width: auto;
        margin-top: 20px;
        text-decoration: none;
        font-size: 24px;
        letter-spacing: 1px;
        font-weight: lighter;
        font-family: "tradegothiceighteen";
    }

    #section2 .contenedor2 h3 {
        margin-top: 30px;
    }

    .contenedor .textooculto {
        display: inline;
        width: 80% !important;
        margin: 0 auto;
        line-height: 15px;
        font-size: 18px !important;
        margin-left: 50px;
        margin-right: 50px;
    }

    .contenedor .textooculto p {
        width: 80% !important;
    }

    #section3 .contenedor h4 {
        font-size: 17px;
        margin-top: 50px;
    }

    #section3 .godeep {
        margin-top: 100px;
    }

    .simple {
        display: none;
    }

    #section5 iframe {
        margin-bottom: 50px;
    }

    #section3 #slide1 {
        background-color: brown;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
    }
}

@media (max-width: 320px) {
    .logo {
        position: fixed;
        top: 15px;
        left: 15px;
        width: 55px;
        height: auto;
        z-index: 9999999;
    }

    .contenedor .textooculto {
        display: inline;
        width: 80% !important;
        margin: 0 auto;
        line-height: 15px;
        font-size: 16px !important;
        margin-left: 50px;
        margin-right: 50px;
    }

    #section1 .contenedor h2 {
        font-size: 25px;
    }

    #section2 .contenedor2 h3 {
        margin-top: 60px;
    }

    #section3 .godeep {
        margin-top: 60px;
    }
}

/* modificamos bootstrap para adaptar el tamaño con la navbar */
@media (min-width: 1200px) {
    .container {
        width: 1050px;
    }
}
